.popup-block-enter {
	opacity: 0;
}

.popup-block-enter-active {
	opacity: 1;
	transition: opacity 200ms;
}

.popup-block-exit {
	opacity: 1;
}

.popup-block-exit-active {
	opacity: 0;
	transition: opacity 200ms;
}
