@font-face {
	font-family: 'Tinkoff';
	src: url('../fonts/tinkoffsans-regular-webfont.woff2') format('woff2'),
		url('../fonts/tinkoffsans-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Tinkoff';
	src: url('../fonts/tinkoffsans-medium-webfont.woff2') format('woff2'),
		url('../fonts/tinkoffsans-medium-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Tinkoff';
	src: url('../fonts/tinkoffsans-bold-webfont.woff2') format('woff2'),
		url('../fonts/tinkoffsans-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
