html {
	--bg-color: #f6f7f8;
	--text-color: #333;
	--input-color: #f2f4f7;
	--text-placeholder: #7e7f81;
	--block-bg-color: #fff;
	--white-glass: rgba(255, 255, 255, 0.2);
	--accent-color: #7ad7ff;
	--accent-color-text: #26abe3;
	--green-color: #7fbe62;
	--red-color: #c25050;

	--font-family: 'Roboto', sans-serif;
	--second-family: 'Tinkoff', sans-serif;
}
