@import './reset';
@import './variables';
@import './fonts';
@import './animation';

html {
	background-color: var(--bg-color);
	font-family: var(--font-family);
	font-weight: 400;
	font-style: normal;
}

body {
	-webkit-text-size-adjust: 100%;
}

.main {
	margin-top: 90px;
}

.container {
	margin: 0 auto;
	max-width: 1080px;
	padding: 0 20px;
}

@media (max-width: 500px) {
	.main {
		margin-top: 80px;
	}
}
