/* Reset and base styles  */
* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  --bg-color: #f6f7f8;
  --text-color: #333;
  --input-color: #f2f4f7;
  --text-placeholder: #7e7f81;
  --block-bg-color: #fff;
  --white-glass: rgba(255, 255, 255, 0.3);
  --accent-color: #7ad7ff;
  --accent-color-text: #26abe3;
  --green-color: #7fbe62;
  --red-color: #c25050;
  --font-family: "Roboto", sans-serif;
  --second-family: "Tinkoff", sans-serif;
}

@font-face {
  font-family: "Tinkoff";
  src: url("../fonts/tinkoffsans-regular-webfont.woff2") format("woff2"), url("../fonts/tinkoffsans-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Tinkoff";
  src: url("../fonts/tinkoffsans-medium-webfont.woff2") format("woff2"), url("../fonts/tinkoffsans-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Tinkoff";
  src: url("../fonts/tinkoffsans-bold-webfont.woff2") format("woff2"), url("../fonts/tinkoffsans-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
html {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
}

body {
  -webkit-text-size-adjust: 100%;
}

.main {
  margin-top: 90px;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 20px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 14px;
  }
}
.fixedNavBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

.nav {
  background-color: var(--block-bg-color);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}
.navWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4px 0;
}
.navWrapper__burger {
  display: none;
}
.navWrapper__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.navWrapper__listItem a {
  font-weight: 500;
  font-size: 14px;
  color: var(--text-placeholder);
  transition: all 0.2s ease-in-out;
}
.navWrapper__listItem a.active {
  color: var(--text-color);
}
.navWrapper__listItem a:hover {
  color: var(--text-color);
}
.navWrapper__account {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  padding: 6px 16px;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.navWrapper__account:hover {
  background-color: var(--input-color);
}
.navWrapper__accountName {
  font-weight: 500;
  font-size: 14px;
  color: var(--text-placeholder);
}
.navWrapper__accountAvatar {
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 50%;
}
.navWrapper__accountSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.navWrapper__accountSelect svg {
  min-width: 24px;
  max-width: 24px;
  min-height: 25px;
  max-height: 25px;
}
.navWrapper__accountSelect svg path {
  stroke: var(--text-placeholder);
}
.navWrapper__accountSelect_open {
  transform: rotate(-180deg) !important;
}

@media (max-width: 768px) {
  .navWrapper__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .navWrapper__burger svg {
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
  }
  .navWrapper__burger svg path {
    fill: var(--text-color);
  }
  .navWrapper__list {
    display: none;
  }
  .navWrapper__account {
    -moz-column-gap: 6px;
         column-gap: 6px;
    padding: 6px 10px;
  }
  .navWrapper__accountName {
    display: none;
  }
}/*# sourceMappingURL=NavMenu.module.css.map */