@import '../../assets/scss/main.scss';

.edit {
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
	backdrop-filter: blur(10px);
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 10;
	cursor: auto;

	&Block {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 30px;
		padding: 20px;
		margin: 0 20px;

		width: 500px;
		height: fit-content;
		max-height: 600px;

		border-radius: 20px;
		background-color: var(--block-bg-color);

		&__title {
			font-family: var(--second-family);
			font-weight: 500;
			font-size: 24px;
			text-align: center;
			color: var(--text-color);
		}

		&__wrapper {
			display: flex;
			flex-direction: column;
			row-gap: 10px;
			width: 100%;

			&Input {
				padding: 0px 16px;
				width: 100%;
				height: 40px;
				border-radius: 12px;
				background: var(--input-color);

				font-weight: 400;
				font-size: 14px;
				color: var(--text-color);

				&::placeholder {
					color: var(--text-placeholder);
				}
			}

			&Icon_select {
				display: flex;
				flex-direction: row;
				column-gap: 10px;
				align-items: center;
				padding: 10px;

				width: 100%;
				height: 60px;
				border-radius: 12px;
				background: var(--input-color);

				&__icon {
					display: flex;
					justify-content: center;
					align-items: center;

					min-width: 40px;
					min-height: 40px;
					max-width: 40px;
					max-height: 40px;
					border-radius: 4px;
					background: var(--block-bg-color);
					cursor: pointer;

					&Img {
						color: var(--text-color);
					}
				}

				&__text {
					font-weight: 400;
					font-size: 14px;
					color: var(--text-color);
				}
			}
		}

		&__btns {
			display: flex;
			flex-direction: row;
			align-items: center;
			column-gap: 10px;
			width: 100%;

			&Delete {
				width: 100%;
				height: 40px;
				border-radius: 12px;
				background: var(--input-color);

				font-weight: 500;
				font-size: 14px;
				text-align: center;
				color: var(--red-color);
			}

			&Save {
				width: 100%;
				height: 40px;
				border-radius: 12px;
				background: var(--accent-color);

				font-weight: 500;
				font-size: 14px;
				text-align: center;
				color: var(--text-color);
			}
		}
	}
}
